apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-service
  namespace: shophub
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments-service
  template:
    metadata:
      labels:
        app: payments-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8000"
    spec:
      containers:
        - name: app
          image: absolootly/payments-service:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 8000

          env:
            - name: OTEL_SERVICE_NAME
              value: "payments-service"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://monitoring-grafana-alloy.monitoring.svc.cluster.local:4318"
            - name: OTEL_TRACES_SAMPLER_ARG
              value: "1.0"
            - name: DEPLOYMENT_ENV
              value: "production"
            - name: SERVICE_VERSION
              value: "1.0.0"

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi

          livenessProbe:
            httpGet:
              path: /charge
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /charge
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
